body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  .disabled {
    display: none !important;
  }

  nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    ul {
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;

      li {
        list-style-type: none;
        float: left;
        padding: 15px;

        a {
          text-decoration: none;
          color: black;
          display: block;
        }
      }

      .dropdown {
        font-size: 40px;
        margin-left: 20px;
        float: left;
      }

      .logo {
        font-weight: 700;
        float: left;
        text-align: center;

        a {
            font-size: 40px;
        }
      }

      .navButton {
        border: 2px solid gray;
        border-radius: 20px;
        float: right;
        margin-top: 15px;
      }

      .search {
        font-size: 30px;
        opacity: 0.6;
        float: right;
        margin-top: 10px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #product {
      border: 1px solid black;
      width: 50%;

      .title {
        text-align: center;
      }

      .colors {
        text-align: center;

        div {
          display: inline-block;
          padding: 10px;
        }
      }

      .deviceSpecsOption {
        align-self: center;
        width: 100%;
        text-align: center;

        .gearIcon {
          width: 60%;
          float: right;
          color: #e00e4d;
          font-size: 35px;

          :hover {
            cursor: pointer;
          }

          a {
            color: #e00e4d;
          }
        }
      }

      #deviceView {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .leftPane {
          width: 20%;
          text-align: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          :hover {
            cursor: pointer;
          }

          .detailBox {
            margin: 5px;
            padding: 15px;
            width: 100%;
            background-color: lightgray;
            text-align: left;
            font-size: 12px;
          }
        }

        .device {
          z-index: 1;

          .sphere {
            background-color: white;
            border: 1px solid gray;
            padding: 100px;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
              font-size: 10vw;
            }
          }
        }

        .rightPane {
          width: 20%;
          text-align: center;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          :hover {
            cursor: pointer;
          }

          .detailBox {
            margin: 5px 5px 5px -30px;
            padding: 15px;
            width: 100%;
            background-color: lightgray;
            font-size: 12px;
            text-align: right;
          }
        }
      }

      .viewMode {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;

        div {
          width: 50%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          :hover {
            cursor: pointer;
          }

          div {
            width: 50px;
            height: 50px;
            border: 1px solid gray;
            border-radius: 50%;
          }
        }
      }
    }

    #specifications {
      border: 1px solid red;
      width: 50%;
      margin-top: 40px;

      .infoSelect {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid black;

        div {
          width: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          margin: 5px;

          :hover {
            cursor: pointer;
          }

          .infoBox {
            background-color: lightgray;
            border: 1px solid black;
            border-radius: 5px;
            padding: 5px;
          }

          #characteristicsButton {
            color: #fd8700;
          }
        }
      }

      #specificationsList {
        border: 1px solid gray;
        text-align: center;
        width: 100%;

        .menu {
          :hover {
            cursor: pointer;
          }
          .viewSpecification {
            display: inline-block;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #ebebeb;
            color: #fd8700;
            width: 50%;
            padding: 10px;
            margin: 15px;
          }
        }

        .specView {
          background-color: #ebebeb;

          .tab {
            width: 15%;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border: 1px solid lightgray;
            margin-bottom: 20px;

            :hover {
              cursor: pointer;
            }
          }

          .specList {
            width: 100%;

            .row {
              max-width: 100%;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 10px;
              border: 1px solid gray;
              font-size: 12px;

              .specPart {
                width: 50%;
                border-right: 1px solid gray;
              }

              .partDesc {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
